<ion-content color="light" scroll="false" has-header="true" list-page>
    <ion-header>
    <ion-toolbar color="light">
      <ion-title color="dark" class="ion-text-center">Logo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let d of data; let i = index">
      <ion-item>
          <ion-label>
            <ion-card>
              <ion-card-header>
                <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
                <!-- <ion-img [src]="https://images.unsplash.com/photo-1497124401559-3e75ec2ed794?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"></ion-img> -->
                <ion-card-title>{{ d.title }}</ion-card-title>

              </ion-card-header>
                
              <ion-card-content>
                {{ d.text }}
              </ion-card-content>
            </ion-card>
          </ion-label>
      </ion-item>
    </ion-list>
    
</ion-content>
