<ion-content color="light" scroll="false" has-header="true" list-page>
    <ion-header>
    <ion-toolbar color="light">
      <ion-button slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-button>
      <ion-title color="dark" class="ion-text-center">List of Pokemons</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let d of items; let i = index">
      <ion-item>
          <ion-label>
            <ion-card>
              <ion-card-header>
                <ion-img [src]="d.picture"></ion-img>
                <ion-card-title>{{ d.title }}</ion-card-title>
                <ion-card-subtitle>{{ d.subtitle }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                {{ d.text }}
              </ion-card-content>
              <ion-button shape="round" fill="solid" color="dark" [routerLink]="'/item/' + d.id" routerDirection="root">Find out more</ion-button> 
            </ion-card>
          </ion-label>
      </ion-item>
    </ion-list>
    
</ion-content>
