<ion-content scroll="false" has-header="true" class="list-page">
  <ion-header>
    <ion-toolbar color="light">
      <ion-title><ion-icon name="menu" routerLink="/sidemenu" routerDirection="root" id="menu-icon"></ion-icon> <ion-text>STAR WARS</ion-text></ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-list *ngFor="let d of items; let i = index">
      <ion-item>
          <ion-label>
            <ion-card [routerLink]="'/item/' + (i +1)" routerDirection="root">
              <ion-card-header>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-card-title>{{ d.name }}</ion-card-title>
                      <ion-card-subtitle>{{"Gender"}}: {{ d.gender }}</ion-card-subtitle>
                    </ion-col>
                  </ion-row>
                </ion-grid>      
              </ion-card-header>
              <ion-card-content>
              <ion-button shape="round" fill="outline" color="dark" [routerLink]="'/item/' + i+1" routerDirection="root">Find out more</ion-button>                
              </ion-card-content>
            </ion-card>
          </ion-label>
      </ion-item>
    </ion-list>
 </ion-content>   
</ion-content>
